@charset "UTF-8";

/*Configuração breakpoints*/

@media screen and (min-width: 992px){
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
        width: 150px;
    }

    main{
        width: 768px;
    }
}