/*Mobile first*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: lightgrey;
}

header{
    background-color: grey;
}

header > h1{
    text-align: center;
}

menu{
    display: block;
}

menu > ul{
    list-style: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(59, 59, 59);
    color: white;
    border-top: 1px solid rgb(146, 146, 146);
}

menu > ul > li > a:hover{
    background-color: rgb(158, 158, 158);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2{
    padding-bottom: 15px;
}

article > p{
    text-align: justify;
    margin-bottom: 15px;
    text-indent: 15px
}